@import "tailwindcss";
body {
    background-image: url('/bg.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
  }

/* Video Background */
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
    pointer-events: none; /* Prevent interactions */
    display: block;
  }
  
  /* Hide Video if it Fails to Load */
  .video-hidden {
    display: none !important;
  }
  